@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('SourceSansPro-Regular'), url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('SourceSansPro-Bold'), url(fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format('truetype');
}
